
.App {
    /* text-align: center; */
    background: #123D70;
    height: 100%;
    .begin-content {
        overflow: scroll;

        .base-title-content {
            height: 50pt;
            display: flex;
            align-items: center;
            .base-title {
                color: white;
                margin-top: 18px;
                margin-left: 16px;
                margin-bottom: 16px;
            }
        }

        .pre-title-content {
            height: 58px;
            display: flex;
            align-items: center;
            .pre-title {
                color: white;
                margin-left: 16px;
            }
        }
        
        .base-view {

            margin-left: 16px;
            margin-right: 16px;
            background: white;
            border-radius: 8px;
            .base-view-input-item {
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 15px;
                height: 56px;
                display: flex;
                flex-direction: row;
                align-items: baseline;
                .fill-view {
                    flex: 1;
                }
                .MuiFormControl-root-28 {
                    flex: 1;
                    margin-left: 8px;
                    margin-right: 8px;
                }
                .sex-title {
                    color: #333333;
                    font-size: 1rem;
                }
                .sub-title {
                    color: #333333;
                }
            }
        }
    }

    .adjust-content {

    }
    .foot-button {
        height: 50px;
        flex-direction: row;
        width: 100%;
        display: flex;
        flex:1;
        margin-top: 16px;
        margin-bottom: 16px;
        .reset-button {
            height: 50px;
            background: white;
            display: flex;
            flex: 1;
            margin-left: 16px;
            margin-right: 16px;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            a {
                font-size: 18px;
                color: #123D70;
            }
        }
        .record-button {
            height: 50px;
            background: white;
            display: flex;
            flex: 1;
            margin-right: 16px;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            a {
                font-size: 18px;
                color: #123D70;
            }
        }
    }
}

.MuiTab-label-20 {
  color: white;
}

.MuiTabs-flexContainer-2 {
    span {
        // background: white;
    }
    .MuiPrivateTabIndicator-colorSecondary-27 {
        background: white;
    }
}
